/* START NAV  */

/* END NAV */

/* START HEADER  */

/* END HEADER */

/* START MAIN  */
.red {
  background-color: red;
  grid-column-end: span 2;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.main {
  display: grid;
  margin: 0 auto;
  width: 1600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 350px);
  grid-gap: 20px;
}

.main__item-large {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.main__item-horizontal {
  grid-column-end: span 2;
}

.main__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 2rem;
}

.main__item-tags {
  display: flex;
  align-items: center;
}

.main__item-large .main__item-title {
  font-size: 3rem;
  margin: 1rem 0;
}

.main__item-tag {
  margin-right: 1rem;
}

@media screen and (max-width: 1600px) {
  .main {
    width: 100%;
    grid-template-rows: repeat(7, 23vw);
  }
}

@media screen and (max-width: 992px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 45vw);
  }

  .main__item-placeholder.main__item-large,
  .main__item-placeholder.main__item-horizontal {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 100vw);
  }

  .main__item-placeholder {
    display: none;
  }

  .main__item-large {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}
/* END MAIN */

/* START FOOTER  */

/* END FOOTER */
