/* START NAV  */
nav {
    margin: 0;
    padding: 0;
    background : yellow 

}

ul {
   
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 2%;
    
}




















/* END NAV */

/* START HEADER  */

/* END HEADER */

/* START MAIN  */

/* END MAIN */

/* START FOOTER  */

/* END FOOTER */
