/* START HEADER  */
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
  height: 75vh;
  width: 100%;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.header__title_box1 {
  background-color: #fff04e;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
.header__title_box2 {
  background-color: #023255;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.header__brackground {
  background-image: url('../assets/header.jpeg');
  position: fixed;
  background-size: cover;
  top: 120px;
  height: 75vh;
  width: 100%;
  z-index: -1;
  box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.5);
}

.header__tags {
  list-style: none;
  display: flex;
  margin-left: 1rem;
  padding: 0;
}

.header__tag {
  color: #fff;
  background-color: #023255;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
/* END HEADER */
